<div class="intro info">
  <h2>Skip words</h2>
  <%- form_for(@badword) do |f| %>
    <%= f.text_field :term, :value => "Add a new skip word" %>
    <%= f.submit 'Submit' %>
  <%- end %>
We currently ignore the following words:
</div>
<ul>
  <% for badword in @badwords %>
    <li><%= badword.term %></li>
  <% end %>
</ul>
