<div class="intro info">
  <h2>Stop words</h2>
  <%- form_for(@badword) do |f| %>
    <%= f.text_field :term, :value => "Skip word" %>
    <%= f.submit 'Submit' %>
  <%- end %>
Currently Skipping:
</div>
<ul class="list">
  <% for badword in @badwords %>
    <li><%= badword.term %></li>
  <% end %>
</ul>
