html, body
{
  font-family: Helvetica;
}

body
{
  background-color: #333;
  background-position: center 0;
}

h1
{
  font-size: 20px;
  background-repeat: repeat-x;
  height: 45px;
  margin: 0;
  color: #333;
  display: block;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
}

.navbar
{
  background-image: url(/images/tbbg.png);
  height: 44px;
  width: 100%;
}

.navbar.second
{
  background-image: url(/images/tbbg.png);
}

.navbar .back
{
  background-image: url(/images/bkl.png);
  background-repeat: repeat-x;
  display: block;
  float: left;
  line-height: 45px;
  height: 45px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  font-size: 12px;
  margin-left: 5px;
}

.navbar.second .back
{
  background-image: url(/images/bkl.png);
}

.navbar .back img
{
  vertical-align: top;
  padding-left: 10px;
}

.navbar .forward
{
  background-image: url(/images/bk2r.png);
  background-repeat: repeat-x;
  background-position: right 0;
  float: right;
  display: block;
  line-height: 45px;
  height: 45px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  padding-right: 20px;
  margin-right: 5px;
}

.navbar.second .forward
{
  background-image: url(/images/bk2r.png);
}

.navbar .forward.button
{
  background-image: url(/images/btnr.png);
  padding-right: 15px;
}

.navbar .forward img
{
  vertical-align: top;
  padding-right: 10px;
}

.navbar .forward.home
{
  padding-right: 6px;
}

.navbar .forward.home img
{
  padding-right: 2px;
}

.navbar .forward img.buttonimage
{
  vertical-align: -33px;
  padding: 0;
}

ol, ul, ol li, ul li
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol, ul
{
  margin-bottom: 0;
}

ol li, ul li
{
  padding: 5px;
  background-color: #b4d1d1;
}

ol li a, ul li a
{
  line-height: 20px;
}

ol li.odd, ul li.odd
{
  background-color: #c6dddc;
}

.phrase
{
  background-color: #fff;
  color: #c00;
  padding: 2px 4px;
  font-style: italic;
}

.trend
{
  height: 50px;
  line-height: 50px;
  background-color: #ffc;
  text-align: center;
}

.twitterpower
{
  margin-top: 10px;
  text-align: center;
}

ol.list li a, ul.list li a
{
  border-bottom: solid 1px #ccc;
  color: #333;
  display: block;
  text-decoration: none;
  line-height: 36px;
  padding: 3px 10px 0 10px;
  background-color: #fff;
}

ol.list li, ul.list li
{
  padding: 0;
}

.info
{
  padding: 10px;
  text-align: center;
}

.intro
{
  text-align: center;
  margin: 0;
  background-color: #ffc;
  color: #c00;
  padding: 10px;
}

.intro p
{
  margin: 0;
  padding: 0;
}

.intro a
{
  color: #fff;
}

.navbar .logo
{
  display: block;
  float: left;
  margin-top: 6px;
  margin-left: 5px;
}

.map
{
  padding-top: 3px;
  background-color: #ffc;
  text-align: center;
}

.map img
{
  margin: 0;
}

.location, .time
{
  display: block;
  width: 120px;
  float: left;
  line-height: 20px;
  text-transform: uppercase;
  font-size: smaller;
  margin-top: 2px;
}

.time
{
  width: auto;
  margin-right: 10px;
  color: #666;
}

.center
{
  background-image: url(/images/arrow.png);
  background-repeat: no-repeat;
  height: 14px;
  width: 24px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 38px;
}

#thirty_day_trend, .intro.alt, .intro.info
{
  background-color: #09c;
  color: #fff;
}

.intro, #twenty_four_hour_trend
{
  background-color: #b4d1d1;
  color: #000;
}

#twenty_four_hour_info
{
  color: #5c7f7f;
  margin-top: -1px;
}

#twenty_four_hour_trend
{
  padding: 5px;
  margin-top: -1px;
}

#tweets
{
  max-width: 500px;
  margin: 1px auto;
}

#tweets li a
{
  color: #069;
}

.tiny_graph
{
  float: right;
  margin-top: -28px;
}

.city
{
  display: block;
}

.percent_sick
{
  font-size: smaller;
}

.trending_down
{
  background-color: #6c3;
  -moz-border-radius: 5px;
  font-size: 11px;
  padding: 3px 5px 2px 5px;
  text-transform: uppercase;
  color: #fff;
  width: 5em;
  vertical-align: 2px;
}

.trending_up
{
  vertical-align: 2px;
  background-color: #c00;
  -moz-border-radius: 5px;
  font-size: 11px;
  padding: 3px 15px 2px 15px;
  text-transform: uppercase;
  color: #fff;
  width: 5em;
}

.wrapper
{
  background-color: #b4d1d1;
  border: solid 15px #09c;
  -moz-border-radius: 5px;
  margin: 20px auto 20px auto;
  width: 500px;
}

h2
{
  margin: 0;
  font-weight: normal;
  font-size: 36px;
}

.photo_credit
{
  display: none;
  background-color: #fff;
  bottom: 10px;
  right: 10px;
  color: #333;
  position: fixed;
  padding: 5px;
  opacity: 0.5;
}

.photo_credit
{
  display: block;
}

input[type='text']
{
  width: 30%;
  margin: 15px 0;
  padding: 5px;
  font-size: larger;
  vertical-align: middle;
}

input[type='submit']
{
  font-size: larger;
}

.toptencount
{
  color: #c00;
}

p.notice
{
  background-color: #fff;
  color: #c00;
  font-size: larger;
  margin-top: 10px;
  padding: 5px;
  -moz-border-radius: 3px;
}