<div class="navbar">
  <a target="_top" class="back" href="/">Countries<img src="/images/bkr.png" /></a>
  <h1>About</h1>
</div>
<div class="info">
  <img src="/images/logo.png" alt="Flubot" />
  <h2>Flubot Prototype</h2>
  <p>Flubot is a very early prototype put together for the <a href="http://diycity.org/challenge/diycity-challenge-5-outbreak">DIYCity Outbreak challenge</a> by <a href="http://paulmwatson.com">Paul M. Watson</a>. It is not backed or endorsed by DIYCity.</p>
  <p>The <a href="http://github.com/paulmwatson/flubot">source code is on github</a>.</p>
  <p>Contact <a href="mailto:flubot@paulmwatson.com">flubot@paulmwatson.com</a> for any problems, ideas, concerns etc.</p>
</div>