<div class="navbar">
  <a target="_top" class="back" href="/">Cities<img src="/images/bkr.png" /></a>
  <a target="_top" class="forward button home" href="/"><img src="/images/bk2l.png" /><img class="buttonimage" src="/images/logosmall.png" /></a>
  <h1>About</h1>
</div>
<div class="info">
  <img src="/images/logo.png" alt="SickCity" />
  <h2>Realtime disease detection for your city</h2>
   <a href="http://diycity.org"><img src="/images/diycity.png" /></a>
  <p>SickCity was built for the <a href="http://diycity.org/challenge/diycity-challenge-5-outbreak">DIYCity Outbreak challenge</a>.</p>
  <p>The <a href="http://github.com/paulmwatson/sickcity">source code is on github</a>.</p>
  <p>Contributors; Aditya Chadha, John Geraci, Daniel Greenblatt, Clint McMahon, Paul Watson.</p>
  <p>Contact <a href="mailto:sickcity@paulmwatson.com">sickcity@paulmwatson.com</a> for any problems, ideas, concerns etc.</p>
</div>