<div class="navbar">
  <img class="logo" src="/images/logo.png" alt="Flubot" />
  <a target="_top" class="forward button" href="/about/"><img src="/images/bk2l.png" />About</a>
  <h1>Countries</h1>
</div>
<ul class="list">
  <% @countries.each do |country|%>
  <li><a target="_top" href="/<%= country.name %>"><%= country.name %></a></li>
  <% end %>
</ul>