<div class="navbar">
  <img class="logo" src="/images/logo.png" alt="SickCity" />
  <a target="_top" class="forward button" href="/about/"><img src="/images/bk2l.png" />About</a>
</div>
<div class="intro">
  <p>Realtime disease detection for your city <a href="http://diycity.org/sickcity-realtime-disease-detection-your-city">by DIYCity</a></p>
</div>
<ul class="list">
  <% @cities.each do |city|%>
  <li><a target="_top" href="/<%= city.country %>/<%= city.name %>"><%= city.country %>, <%= city.name %></a></li>
  <% end %>
</ul>
<div class="intro">
  <p>More cities are on the way as we load in historical data.</p>
</div>
