<html>
  <head>
    <title>Flubot</title>
    <meta name="viewport" content="width=320, user-scalable=yes" />
    <%= stylesheet_link_tag 'reset', 'main' %>
    <%= javascript_include_tag 'jquery', 'jquery.sparkline' %>
  </head>
  <body>
    <%= yield %>
    
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-265441-9");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>